.wcag-em-helpers {
    padding: .5em 0 0;
}

.wcag-em-helpers p {
    margin: 0;
}

.wcag-em-helpers__controls {
    margin-top: 1em;
}

.wcag-em-helpers__controls > legend {
    border-bottom: 0;
}

.wcag-em-helpers__controls > label {
    margin-right: 6px;
}

.wcag-em-helpers__count {
    display: inline-block;
    padding: 0 0 0 .125em; /* border */
    margin-right: .25em;
}

.wcag-em-helpers__count--canttell {
    background-color: var(--color-canttell);
}

.wcag-em-helpers__count--failed {
    background-color: var(--color-failed);
}

.wcag-em-helpers__count--inapplicable {
    background-color: var(--color-inapplicable);
}

.wcag-em-helpers__count--passed {
    background-color: var(--color-passed);
}

.wcag-em-helpers__count--total {
    background-color: #000;
    color: #fff;
}

.wcag-em-helpers__count--untested {
    background-color: var(--color-untested);
}

.wcag-em-helpers__count-inner {
    display: inline-block;
    background-color: rgba(255, 255, 255, .3);
    padding: .125em .4em; /* gutter */
}

.wcag-em-helpers__counts,
.wcag-em-helpers__totals {
    padding: 0;
    margin: 0;
}

.wcag-em-helpers [hidden] {
    display: none;
}

.wcag-em-helpers__title-count {
    display: inline-block;
    margin-left: .25em;
}

.wcag-em-helpers p.wcag-em-helpers__totals {
    margin-bottom: .25em;
}

.wcag-em-helpers-options {
    padding: 20px; /* match modal header */
    margin: 0;
}

.wcag-em-helpers-options__options {
    padding: 0;
    border: 0;
    margin: 0;
}

.wcag-em-helpers-options__legend {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: .5em;
}

.wcag-em-helpers-options__option {
    border-top: 1px solid #ccc;
    font-size: 1.2em;
    margin-top: .5em;
    padding-top: .5em;
}

.wcag-em-helpers-options__tip {
    font-size: .9em;
}

.wcag-em-helpers-options__status {
    box-sizing: border-box;
    min-height: 3em;
    font-size: 1em;
    margin-bottom: .5em;
}

.wcag-em-helpers-options__submit {
    font-size: 1.2em;
}
